<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>未命名表单</title>
    <link rel="stylesheet" type="text/css" href="./preview/css/base.css">
    <link rel="stylesheet" type="text/css" href="./preview/css/devices.min.css">
    <link rel="stylesheet" type="text/css" href="./preview/css/dpl.css">
    <link rel="stylesheet" type="text/css" href="./preview/css/preview.css">
    <script src="./lib/angular/angular.min.js"></script>
    <script src="./preview/js/preview.js"></script>
</head>

<body>
    <div class="screen">
        <div class="preview-tip">
            <em></em> 当前处于预览模式，可以模拟填写，但无法提交数据
        </div>
        <div class="ui-form default" ng-app="preview" ng-controller="previewController">
            <div class="ui-title">
                <h3>预览</h3>
            </div>
            <div class="ui-content form-fields">
            	<div class="ui-field" ng-repeat="field in initData.fields">
					<field-item type="{{field.fieldType}}">{{field.fieldType}}</field-item>     		
            	</div>
                <button class="ui-button green" id="submit">提交</button>
            </div>
            <div class="hidden" data-userinfo="null" id="userinfo"></div>
        </div>
    </div>
    <script type="text/template" id="text-input-tpl">
        <label class="field-label">
        	{{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content">
            <input type="text" class="ui-input" placeholder="{{field.placeholder}}">
        </div>	
    </script>
    <script type="text/template" id="text-area-tpl">
        <label class="field-label">
            {{field.label}} 
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content">
            <textarea class="ui-textarea" placeholder="{{field.placeholder}}"></textarea>
        </div>
    </script>
    <script type="text/template" id="number-input-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content">
            <input type="number" class="ui-input" placeholder="{{field.placeholder}}" />
        </div>
    </script>
    <script type="text/template" id="select-tpl">
        <label class="field-label">
            {{field.label}} 
            <span class="required" ng-if="field.fieldValidator.required">*</span>
			<span class="tips"></span>
        </label>
        <div class="field-content">
            <div class="ui-select-wrap">
                <select class="ui-select">
                    <option style="display: none;">{{field.placeholder}}</option>
                    <option value="{{fieldoption.value}}" ng-repeat="fieldoption in field.fieldOptions">{{fieldoption.label}}</option>
                </select>
            </div>
        </div>
    </script>
    <script type="text/template" id="radio-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span> 
            <span class="tips"></span>
        </label>
        <div class="field-content ui-list select-list">
            <div class="list-item radio-item" ng-repeat="fieldoption in field.fieldOptions" ng-click="radioCheck($event,'radio-item');">
                <input class="ui-radio" type="radio" value="{{fieldoption.value}}" data-label="{{fieldoption.label}}" name="radio">
                <div class="radio-outside">
                    <div class="radio-inside"></div>
                </div>
                <span class="option-label">{{fieldoption.label}}</span>
            </div>
        </div>
    </script>
    <script type="text/template" id="checkbox-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
            <span class="info" ng-if="field.fieldValidator.minSelect && !field.fieldValidator.maxSelect">[最少{{field.fieldValidator.minSelect}}项]</span>
            <span class="info" ng-if="field.fieldValidator.maxSelect && !field.fieldValidator.minSelect">[最多{{field.fieldValidator.maxSelect}}项]</span>
            <span class="info" ng-if="field.fieldValidator.minSelect && field.fieldValidator.maxSelect">[最少{{field.fieldValidator.minSelect}}项,最多{{field.fieldValidator.maxSelect}}项]</span>
        </label>
        <div class="field-content ui-list select-list">
            <div class="list-item checkbox-item" ng-repeat="fieldoption in field.fieldOptions" ng-click="checkboxCheck($event);">
            	<input class="ui-checkbox" type="checkbox" value="{{fieldoption.value}}" data-label="{{fieldoption.label}}" name="checkbox">
                <div class="checkbox-outside">
                    <div class="checkbox-inside"></div>
                </div>
                <span class="option-label">{{fieldoption.label}}</span>
            </div>
        </div>
    </script>
    <script type="text/template" id="img-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content ui-list select-list img-select fn-clear {{field.fieldPattern.size}}" ng-repeat="fieldoption in field.fieldOptions" ng-click="radioCheck($event,'img-item');">
            <div class="list-item img-item">
                <div>
                    <div class="img-box-wrapper">
                        <div class="img-box">
                            <img ng-src={{fieldoption.img}}>
                        </div>
                    </div>
                    <div class="wrap">
                        <input class="ui-radio" type="radio" name="imgradio" value="{{fieldoption.value}}" data-label="{{fieldoption.label}}">
                        <div class="radio-outside">
                            <div class="radio-inside"></div>
                        </div>
                        <span class="option-label">{{fieldoption.label}}</span>
                    </div>
                </div>
                <div class="img-desc" ng-if="fieldoption.desc.status">
                	{{fieldoption.desc.text}}
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="img-list-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
            <span class="info" ng-if="field.fieldValidator.minSelect && !field.fieldValidator.maxSelect">[最少{{field.fieldValidator.minSelect}}项]</span>
            <span class="info" ng-if="field.fieldValidator.maxSelect && !field.fieldValidator.minSelect">[最多{{field.fieldValidator.maxSelect}}项]</span>
            <span class="info" ng-if="field.fieldValidator.minSelect && field.fieldValidator.maxSelect">[最少{{field.fieldValidator.minSelect}}项,最多{{field.fieldValidator.maxSelect}}项]</span>
        </label>
        <div class="field-content ui-list select-list img-select fn-clear {{field.fieldPattern.size}}" ng-repeat="fieldoption in field.fieldOptions" ng-click="checkboxCheck($event);">
            <div class="list-item img-item">
                <div>
                    <div class="img-box-wrapper">
                        <div class="img-box">
                            <img ng-src={{fieldoption.img}}> </div>
                    </div>
                    <div class="wrap">
                        <input class="ui-checkbox" type="checkbox" name="checkboximg" value="{{fieldoption.value}}" data-label="{{fieldoption.label}}">
                        <div class="checkbox-outside">
                            <div class="checkbox-inside"></div>
                        </div>
                        <span class="option-label">{{fieldoption.label}}</span>
                    </div>
                </div>
                <div class="img-desc" ng-if="fieldoption.desc.status">
                	{{fieldoption.desc.text}}
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="date-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content">
            <input class="ui-date" type="date">
        </div>
    </script>
    <script type="text/template" id="time-tpl">
	    <label class="field-label">
	        {{field.label}}
	        <span class="required" ng-if="field.fieldValidator.required">*</span>
	        <span class="tips"></span>
	    </label>
	    <div class="field-content ui-list inline-block">
	        <div class="list-item">
	            <div class="ui-select-wrap">
	                <select class="ui-select hour">
	                    <option style="display: none;">时</option>
	                    <option value="0">00</option>
	                    <option value="1">01</option>
	                    <option value="2">02</option>
	                    <option value="3">03</option>
	                    <option value="4">04</option>
	                    <option value="5">05</option>
	                    <option value="6">06</option>
	                    <option value="7">07</option>
	                    <option value="8">08</option>
	                    <option value="9">09</option>
	                    <option value="10">10</option>
	                    <option value="11">11</option>
	                    <option value="12">12</option>
	                    <option value="13">13</option>
	                    <option value="14">14</option>
	                    <option value="15">15</option>
	                    <option value="16">16</option>
	                    <option value="17">17</option>
	                    <option value="18">18</option>
	                    <option value="19">19</option>
	                    <option value="20">20</option>
	                    <option value="21">21</option>
	                    <option value="22">22</option>
	                    <option value="23">23</option>
	                </select>
	            </div>
	        </div>
	        <span>:</span>
	        <div class="list-item">
	            <div class="ui-select-wrap">
	                <select class="ui-select minute">
	                    <option style="display: none;">分</option>
	                    <option value="0">00</option>
	                    <option value="1">01</option>
	                    <option value="2">02</option>
	                    <option value="3">03</option>
	                    <option value="4">04</option>
	                    <option value="5">05</option>
	                    <option value="6">06</option>
	                    <option value="7">07</option>
	                    <option value="8">08</option>
	                    <option value="9">09</option>
	                    <option value="10">10</option>
	                    <option value="11">11</option>
	                    <option value="12">12</option>
	                    <option value="13">13</option>
	                    <option value="14">14</option>
	                    <option value="15">15</option>
	                    <option value="16">16</option>
	                    <option value="17">17</option>
	                    <option value="18">18</option>
	                    <option value="19">19</option>
	                    <option value="20">20</option>
	                    <option value="21">21</option>
	                    <option value="22">22</option>
	                    <option value="23">23</option>
	                    <option value="24">24</option>
	                    <option value="25">25</option>
	                    <option value="26">26</option>
	                    <option value="27">27</option>
	                    <option value="28">28</option>
	                    <option value="29">29</option>
	                    <option value="30">30</option>
	                    <option value="31">31</option>
	                    <option value="32">32</option>
	                    <option value="33">33</option>
	                    <option value="34">34</option>
	                    <option value="35">35</option>
	                    <option value="36">36</option>
	                    <option value="37">37</option>
	                    <option value="38">38</option>
	                    <option value="39">39</option>
	                    <option value="40">40</option>
	                    <option value="41">41</option>
	                    <option value="42">42</option>
	                    <option value="43">43</option>
	                    <option value="44">44</option>
	                    <option value="45">45</option>
	                    <option value="46">46</option>
	                    <option value="47">47</option>
	                    <option value="48">48</option>
	                    <option value="49">49</option>
	                    <option value="50">50</option>
	                    <option value="51">51</option>
	                    <option value="52">52</option>
	                    <option value="53">53</option>
	                    <option value="54">54</option>
	                    <option value="55">55</option>
	                    <option value="56">56</option>
	                    <option value="57">57</option>
	                    <option value="58">58</option>
	                    <option value="59">59</option>
	                </select>
	            </div>
	        </div>
	    </div>
    </script>
    <script type="text/template" id="score-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content ui-score" ng-click="scoreLight($event,this);" >
            <span data-index='0'>★</span>
            <span data-index='1'>★</span>
            <span data-index='2'>★</span>
            <span data-index='3'>★</span>
            <span data-index='4'>★</span>
        </div>
    </script>
    <script type="text/template" id="split-line-tpl">
        <div class="field-content">
            <div class="split-line">
                <span>{{field.label}}</span>
            </div>
        </div>
    </script>
    <script type="text/template" id="name-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content">
            <input type="text" class="ui-input" placeholder="请填写姓名" value="">
        </div>
    </script>
    <script type="text/template" id="phone-tpl">
	    <label class="field-label">
	        {{field.label}}
	        <span class="required" ng-if="field.fieldValidator.required">*</span>
	        <span class="tips"></span>
	    </label>
	    <div class="field-content">
	        <input type="tel" class="ui-input" placeholder="请填写手机号码" value="" maxlength={{field.fieldValidator.mustLength}}>
	    </div>
    </script>
    <script type="text/template" id="address-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content" ng-if="field.hide.country">
            <div class="list-item country">
                <div class="ui-select-wrap">
                    <select class="ui-select">
                      	<option style="display: none;">{{field.default.country}}</option>
					</select>
				</div>
            </div>
        </div>
        <div class="field-content ui-list inline locations">
            <div class="list-item province" ng-if="field.hide.province">
                <div class="ui-select-wrap">
                    <select class="ui-select">
                        <option style="display: none;">{{!!field.default.province?field.default.province:'省'}}</option>
                    </select>
                </div>
            </div>
            <div class="list-item city" ng-if="field.hide.city">
                <div class="ui-select-wrap">
                    <select class="ui-select">
                        <option style="display: none;">{{!!field.default.city?field.default.city:'市'}}</option>
                    </select>
                </div>
            </div>
            <div class="list-item county" ng-if="field.hide.county">
                <div class="ui-select-wrap">
                    <select class="ui-select">
                        <option style="display: none;">{{!!field.default.county?field.default.county:'区/县'}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field-content addressDetail" ng-if="field.hide.detail">
            <textarea class="ui-textarea" placeholder="详细地址">{{field.default.detail}}</textarea>
        </div>
    </script>
    <script type="text/template" id="email-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content">
            <input type="text" class="ui-input" placeholder="邮箱" value="">
        </div>
    </script>
    <script type="text/template" id="birth-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content">
            <input class="ui-date" type="date" data-value="">
        </div>
    </script>
    <script type="text/template" id="location-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content ui-list inline locations">
            <div class="list-item province">
                <div class="ui-select-wrap">
                    <select class="ui-select">
                        <option style="display: none;">省</option>
                    </select>
                </div>
            </div>
            <div class="list-item city">
                <div class="ui-select-wrap">
                    <select class="ui-select">
                        <option style="display: none;">市</option>
                    </select>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="qq-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="field-content">
            <input type="tel" class="ui-input" placeholder="qq" value="">
        </div>
    </script>
    <script type="text/template" id="gender-tpl">
        <label class="field-label">
            {{field.label}}
            <span class="required" ng-if="field.fieldValidator.required">*</span>
            <span class="tips"></span>
        </label>
        <div class="ui-list field-content inline gender-list">
            <div class="list-item ui-button gender-item" ng-click="genderCheck($event);">
                <input class="ui-radio" type="radio" name="genderradio" value="1">
                <div class="radio-outside">
                    <div class="radio-inside"></div>
                </div>
                <span class="option-label">男</span>
            </div>
            <div class="list-item ui-button gender-item" ng-click="genderCheck($event);">
                <input class="ui-radio" type="radio" name="genderradio" value="2">
                <div class="radio-outside">
                    <div class="radio-inside"></div>
                </div>
                <span class="option-label">女</span>
            </div>
        </div>
    </script>
    <script src="./lib/jquery/jquery-1.9.0.js"></script>
</body>
</html>
